SECRET_KEY=2UKE3G9MoewdmatepQ29fHVeqjR922JgNzGMMymQ2HCutB5WqEiSkgH8t2rrBrpd
DATABASE_URL=psql://{{db_user}}:{{ db_password }}@localhost:5432/{{db_name}}
ENVIRONMENTS={"dev":{"hosts":"josep@inka-labs.com","gunicorn_pid":"/tmp/core-interact.pid","core_dir":"/home/josep/qa/luis/core-interact/core-interact/","is_production":false,"branch":"master","is_staging":false,"token_logger":"@espeWrU*rUspes58wr3xuju"}}
ALLOWED_HOSTS=["{{ inventory_hostname }}","127.0.0.1","localhost"]
DEBUG=true
STATIC_ROOT={{ nginx_static_dir }}
MEDIA_ROOT={{ nginx_media_dir }}
SECURE_HSTS_SECONDS=3600

# For API
#Test https://test-connect.core.fincite.net/
#URL_CORE_CONNECT="https://{{ inventory_hostname }}/api/v1/ "
URL_CORE_CONNECT="http://127.0.0.1:8080/api/v1/"
TOKEN={"authorization": "bearer 971b084e070ef8f0f899d622d1796b0c79cc2fd9"}
TEST_QUESTIONNAIRE=true

