[uwsgi]
uid             = {{project_user}}
gid             = {{project_user}}
socket          = {{socket_folder}}/socketfile.sock
chdir           = {{project_path}}/
wsgi-file       = {{uwsgi_params_path}}/wsgi.py
home            = {{virtualenv_path}}/
processes       = 2
threads         = 1
chmod-socket    = 666
plugins         = python3
logto           = {{application_log_dir}}/uwsgi/error.log

touch-reload    = /tmp/uwsgi-touch-reload-core_connect
