DEBUG=True
SECRET_KEY={{django_secret_key}}
DATABASE_URL=psql://{{db_user}}:{{db_password}}@localhost:5432/{{db_name}}
ENVIRONMENTS={"prod": {"hosts": ["cloud-user@185.115.51.216"], "core_dir": "/home/cloud-user/core_connect_env/algo-services-api/", "is_production": false, "branch": "prod"}, "internal-dev": {"hosts": ["josep@inka-labs.com"], "core_dir": "/var/www/core-connect/venv/algo-services-api/", "is_production": false,"branch": "master"}, "dev": {"hosts": ["ubuntu@185.116.245.234"], "core_dir": "/var/www/core_connect/algo-services-api", "is_production": false,"branch": "master"}, "dev2": {   "hosts": ["ubuntu@185.116.245.234"], "core_dir": "/var/www/core_connect_2/algo-services-api", "is_production": false, "branch": "master"}, "test": {"hosts": ["cloud-user@185.115.51.187"], "core_dir": "/home/cloud-user/core_connect_env/algo-services-api/", "is_production": false, "branch": "test"}, "acp": {"hosts": ["cloud-user@185.115.50.12x0"], "core_dir": "/home/cloud-user/core_connect_env/algo-services-api/", "is_production": false, "branch": "acp"}, "local": {"hosts": ["127.0.0.1"], "core_dir": "/tmp/", "is_production": false}}
ALLOWED_HOSTS=localhost,127.0.0.1,{{inventory_hostname}},{{domain_name_webserver}}
