

00 00 * * 0 wget -r -l1 -A .zip -t1 -nd -N -P {{project_path}}/ftp/thomsonreuters_lipperftp/DE/ -o {{project_path}}/ftp/thomsonreuters_lipperftp/DE/wget.log -- ftp://fincite_ghf:x3SYroRw@lipperftp.thomsonreuters.com/De/ && unzip -uo  {{project_path}}/ftp/thomsonreuters_lipperftp/DE/"*.zip" -d {{project_path}}/ftp/thomsonreuters_lipperftp/DE/ > {{project_path}}/ftp/thomsonreuters_lipperftp/DE/unzipftp.log

00 01 * * 0 {{application_path}}/scripts/TR_import_hash_key_check.sh |& tee {{application_log_dir}}/cron/TR_import_hash_key_check_import.log

00 04 * * 0 {{application_path}}/python_env/bin/python {{application_path}}/core_analyse2/core_analyse2/manage.py import_rates |& tee {{application_log_dir}}/cron/import_rates_import.log

