---
# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)

MAILTO="prospery-core@fincite.de,mario@inka-labs.com"
# 
# m h  dom mon dow   command


######## Everyday ########

## (1) Figo Refresh Accounts 00:00 (02:00 Berlin time)
00 00 * * * {{ virtualenv_path }}/bin/python {{ project_path }}/manage.py figo_refresh_accounts

## (2) Recurrent order at 02:00 Berlin time
00 00 * * * {{ virtualenv_path }}/bin/python {{ project_path }}/manage.py check_recurrent_orders

## (3) Morningstar Refresh Fmds at 06:00 Berlin 04:00 Server
00 04 * * * {{ virtualenv_path }}/bin/python {{ project_path }}/manage.py morningstar_refresh_fmds

## (4) Second rebalancing command 11-12 a.m. Berlin  
*/10 9 * * * {{ virtualenv_path }}/bin/python {{ project_path }}/manage.py sopra_order_status

## (5) Sending portfolio data to analyse 1 a.m.  
30 1 * * * {{ virtualenv_path }}/bin/python {{ project_path }}/manage.py set_prospery_portfolio_components

## (6) Loss reporting at 4 a.m. Berlin
00 2 * * * {{ virtualenv_path }}/bin/python {{ project_path }}/manage.py loss_reporting

## (7) Database backup at 4:30 a.m Berlin
30 2 * * * {{ virtualenv_path }}/bin/python {{ project_path }}/backup_command.py

## (8) Refresh Sopra order status  11-12 a.m. every 10 min update investment sopra credentials and update sopra orders.
5-59/10 9 * * * {{ virtualenv_path }}/bin/python {{ project_path }}/manage.py update_sopra_order_status

## (9) Rebalancing at 11:00 Berlin
00 09 * * * {{ virtualenv_path }}/bin/python {{ project_path }}/manage.py sopra_order_rebalancing

## (10) MIFID Report every day checking if there is a valid quarter to execute it
00 00 * * * {{ virtualenv_path }}/bin/python {{ project_path }}/manage.py mifid_report

## (11) Sopra Accounts Alignment 04:00 / tu / we / th / fr / sa
00 02 * * 1-6 {{ virtualenv_path }}/bin/python {{ project_path }}/manage.py check_sopra_accounts_alignement

## (12) Check Sopra Transfers sending transfer in/out to Matrix
00 00 * * * {{ virtualenv_path }}/bin/python {{ project_path }}/manage.py check_sopra_transfers


######## Weekly #######

## (13) User notification Sunday 2 a.m Berlin
00 00 * * 00 {{ virtualenv_path }}/bin/python {{ project_path }}/manage.py update_user_notifications Well

## (14) Refresh Figo supported bank 2 am Berlin
00 00 * * 00 {{ virtualenv_path }}/bin/python {{ project_path }}/manage.py figo_refresh_supported_banks



# daily update check  ssl letsencrypt-> mario
#00 23 * * *  sudo /home/cloud-user/letsencrypt/letsencrypt-auto renew --quiet --no-self-upgrade  --pre-hook "service nginx stop" --post-hook "service nginx start"
#Stefan 23.03.2018: I disabled letsencrypt because it did not finished correctly. Same faulty behaviour as on acp environment.

#core-interact
#0 21 * * 0 /var/www/core-interact/python-env/bin/python /var/www/core-interact/serviceAPI/manage.py updates --version_code 'v1'