# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command

MAILTO="prospery-core@fincite.de,mario@inka-labs.com"

# Note from letsencrypt
#if you're setting up a cron or systemd job, we recommend running it twice per day (it won't do anything until your certificates are due for renewal or revoked, but running it regularly would give your site a chance of staying online in case a Let's Encrypt-initiated revocation happened for some reason). Please select a random minute within the hour for your renewal tasks.

## Certificate update in letsencrypt by mario@inka-labs.com
#09 02,14 * * * /home/cloud-user/certbot-auto renew --quiet --no-self-upgrade
00 23 * * *  sudo  /home/cloud-user/letsencrypt/letsencrypt-auto renew --quiet --no-self-upgrade --pre-hook "service nginx stop" --post-hook "service nginx start"

#### Everyday

# 0 a.m.
## Figo Refresh Accounts
00 00 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py figo_refresh_accounts
00 00 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py figo_refresh_accounts
00 00 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py check_recurrent_orders
00 00 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py check_recurrent_orders

## Check Sopra Transfer In and Out
00 00 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py check_sopra_transfers
00 00 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py check_sopra_transfers

## Morningstar Refresh Fmds
00 6 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py morningstar_refresh_fmds
00 6 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py morningstar_refresh_fmds

## Second rebalancing command 11-12 a.m. Berlin
*/10 9 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py rebalancing_buy
*/10 9 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py rebalancing_buy

## sending data to core analyse 1:30 a.m.  
30 1 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py set_prospery_portfolio_components
30 1 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py set_prospery_portfolio_components
30 1 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py send_portfolio_components --context Well
30 1 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py send_portfolio_components --context Well

# Loss reporting 2 a.m. Server time
00 2 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py loss_reporting
00 2 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py loss_reporting

# 2:30 a.m backup database
30 2 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/backup_command.py
30 2 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/backup_command.py

## Refresh Sopra order status 9:30 and 16:30 UTC, investment sopra credentials and update sopra orders.
30 9 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py update_sopra_order_status
30 16 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py update_sopra_order_status
30 9 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py update_sopra_order_status
30 16 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py update_sopra_order_status

## Rebalancing at 11:00 Berlin
00 09 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py rebalancing_sell
00 09 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py rebalancing_sell

## Reconciliation everyday, the command checks the prospery user with sopra information
00 4 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py check_sopra_accounts_alignement
00 4 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py check_sopra_accounts_alignement

## MIFID daily, the command checks if there is a quarter valid day for execute, 01/01, 01/04, 01/07 and 01/10
00 6 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py mifid_report
00 6 * * * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py mifid_report

#### Week
# Sunday 0 a.m
00 00 * * 00 {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py update_user_notifications Well
00 00 * * 00 {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py update_user_notifications Well
# Sunday, 1 p.m.   
#00 13 * * 0 {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py sopra_order_rebalancing
#00 13 * * 0 {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py sopra_order_rebalancing

## Every Thursday at 0am
0 0 * * 4 {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py update_feasibility

## Morningstar refres supported bank
00 00 * * 00 {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py figo_refresh_supported_banks
#00 00 * * 00 {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py figo_refresh_supported_banks
# take down the figo supported bank refresh due to the issue with S Broker Wiesbaden

# Quarterly, TODO: Update when deploy to DEV
#0 0 1 */3 * {{ virtualenv_path_dev1 }}/bin/python {{ project_path_dev1 }}/manage.py mifid_report
#0 0 1 */3 * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py mifid_report

# 6 a. m.
# MIFID daily, the command checks if there is a quarter valid day for execute, 01/01, 01/04, 01/07 and 01/10
#00 6 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py mifid_report

# 4 a. m.
# Reconciliation everyday, the command checks the prospery user with sopra information
#00 4 * * * {{ virtualenv_path_dev2 }}/bin/python {{ project_path_dev2 }}/manage.py check_sopra_accounts_alignement

# Risk profile update (Tin on 21-06-2018 added and commented out)
#0 21 * * 0 /var/www/core-interact/python-env/bin/python /var/www/core-interact/serviceAPI/manage.py updates --version_code 'v1'

# Running Postman collection for dev1 env
#*/10 * * * * /home/cloud-user/newman_input/execute_newman.sh | tee -a /home/cloud-user/newman_input/logs/runlog_newman.log > /dev/null