#!/bin/sh

DJANGODIR={{ project_path }}

# Activate the virtual environment.
cd $DJANGODIR
. python_env/bin/activate
#. python_env/bin/postactivate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec celery -A {{ application_name }} worker -E -l info --concurrency={{ celery_num_workers }}
