# It is important to mention that the strings here doesn't contain quotation marks.
# and also don't put spaces before or after the = operator
DEBUG=true
SECRET_KEY={{django_secret_key}}
DATABASE_URL=psql://{{db_user}}:{{db_password}}@localhost:5432/{{db_name}}
ENVIRONMENTS={"internal-dev": {"hosts": ["josep@inka-labs.com"], "core_dir": "/var/www/core-connect/venv/algo-services-api/", "is_production": false,"branch": "master"}, "dev": {"hosts": ["cloud-user@185.115.51.235"], "core_dir": "/home/cloud-user/algo_services_env/algo-services-api/", "is_production": false,"branch": "master"}, "dev2": {   "hosts": ["cloud-user@185.115.51.235"], "core_dir": "/home/cloud-user/dev2_core_env/algo-services-api/", "is_production": false, "branch": "v2"}, "test": {"hosts": ["cloud-user@185.115.51.187"], "core_dir": "/home/cloud-user/core_connect_env/algo-services-api/", "is_production": false, "branch": "staging"}, "acp": {"hosts": ["cloud-user@185.115.50.120"], "core_dir": "/home/cloud-user/core_connect_env/algo-services-api/", "is_production": false, "branch": "staging"}, "local": {"hosts": ["127.0.0.1"], "core_dir": "/tmp/", "is_production": false}}
ALLOWED_HOSTS=["localhost", "127.0.0.1", "192.168.2.2", "185.115.51.235", "{{ inventory_hostname }}", "dev-connect.core.fincite.net"]
CELERY_BROKER_URL={{broker_url}}
SECURE_HSTS_SECONDS=3600
SOPRA_DOMAIN=xcl.tst.abn-sopra
FIGO_USER_PREFIX=dev-connect
SECURE_SSL_REDIRECT=false
DB_BACKUP_DIR=/home/{{ project_user }}/algo_services_env/algo-services-api/backups/deploy_backups/
CORE_INTERACT_ROOT=http://localhost:8002
MATRIX_DOMAIN=well.fivedegrees.nl
MATRIX_PORT=50605
MATRIX_PATH=api
MATRIX_PROTOCOL=http
GEARMAN_SERVERS=10.1.20.4:4730
RAVEN_DSN={{sentry_connection}}
MATRIX_CASE_NOTIFICATION_ACTIVE=false
CORE_MANAGE_PROTOCOL=https
CORE_MANAGE_DOMAIN=abn-dev-manage.core.fincite.net
CORE_MANAGE_TOKEN=fincite_secret_token
FIGO_API_ENDPOINT=https://api.figo.me
FIGO_SSL_FINGERPRINT=CD:F3:D3:26:27:89:91:B9:CD:AE:4B:10:6C:96:81:B7:EB:B3:38:10:C4:72:37:6A:4D:9C:84:B7:B3:DC:D6:8D,ED:6D:67:75:DA:74:A5:36:F8:8C:1E:B2:DB:70:F5:63:07:7E:E2:64
CORE_ANALYSE_URL=https://10.1.20.6/api/v1
SALTEDGE={"domain": "https://www.saltedge.com","api_url":"api","version":"v4", "app_id": "uaJZYstYH-x-QzYfaxys9FOZWqlIJH5wAzwTzxcwF-o", "secret": "PbYniV13-Ka7WJwmEsfyGM8j1ZIo1j_WwzMOdqCYhPU", "certificate": "private.pem"}
PROFILING=False
