# service_api.conf

# the upstream component nginx needs to connect to
# I comment-out this upstream service because it is already defined in the http vhost
upstream algo_service_api {
    server unix://{{ socket_folder }}/socketfile.sock;
}

# Local connection for interact
server {

    listen {{local_socket}};
    access_log {{ application_log_dir }}/nginx/access.log;
    error_log {{ application_log_dir }}/nginx/error.log;

    charset utf-8;
    client_max_body_size 20M;

    location /static {
            alias {{ nginx_static_dir }};
            expires 30d;
    }
    location /media {
            alias {{ nginx_media_dir }};
            expires 30d;
    }    
    location / {
            uwsgi_pass  algo_service_api;
            include     {{ project_path }}/serviceAPI/uwsgi_params;    }
    # Error page
    error_page 500 502 /maintenance.html;
    location = /maintenance.html {
        root /var/www/;
    }
}

# configuration of the server
server {
    listen [::]:80;
    listen 80;

    server_name {{ nginx_server_name }}; # Taking from the inventory - inventory_hostname
    server_tokens off;

    rewrite ^ https://$host$request_uri? permanent;
}

server {
    # the port your site will be served on
    listen      443;
    # the domain name it will serve for
    server_name {{ nginx_server_name }};

        # Enable SSL encryption
        ssl    on;
        ssl_certificate         /etc/nginx/ssl/core.fincite.net/fullchain.pem;
        ssl_certificate_key     /etc/nginx/ssl/core.fincite.net/privkey.pem;


        # To allow only the most secure SSL protocols and ciphers, and use the strong Diffie-Hellman group we generated, add the following lines to the same server block:
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        {% if nginx_strong_dh_group %}
        ssl_dhparam          /etc/ssl/certs/dhparams.pem;
        {% endif %}
        ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA';
        ssl_session_timeout 1d;
        ssl_session_cache shared:SSL:50m;
        ssl_stapling on;
        ssl_stapling_verify on;
        add_header Strict-Transport-Security max-age=15768000;

    charset     utf-8;

    # max upload size
    client_max_body_size 75M;   # adjust to taste, for csv upload

    # Django media
    location /media  {
        alias {{ nginx_media_dir }};  # your Django project's media files - amend as required
    }

    location /static {
        alias {{ nginx_static_dir }}; # your Django project's static files - amend as required
    }

    # Finally, send all non-media requests to the Django server.
    location / {
  
        uwsgi_pass  algo_service_api;
        include     {{ project_path }}/serviceAPI/uwsgi_params;

        # Stefan, 17.04.2017
        # Connection to Core.Analyse can take longer and a higher timeout than 60s is needed
        # These numbers and timeout commands needs to be reviewed!!
        uwsgi_read_timeout 300;
        

    }
    
    access_log {{ application_log_dir }}/nginx/access_https.log;
    error_log {{ application_log_dir }}/nginx/error_https.log;
    
    # Error page
    error_page 500 502 /maintenance.html;
    location = /maintenance.html {
        root /var/www/;
    }
}