upstream {{application_name}} {
    server unix://{{ socket_folder }}/interact.sock;  
}

server {

    listen {{local_socket}};
    #server_name <%= @server_name %> <%= @server_alias %>;
    access_log {{ application_log_dir }}/nginx/access.log;
    error_log {{ application_log_dir }}/nginx/error.log;

    charset utf-8;
    client_max_body_size 20M;

    location /static {
            alias {{ nginx_static_dir }};
            expires 30d;
    }
    location /media {
            alias {{ nginx_media_dir }};
            expires 30d;
    }    
    location / {
            include uwsgi_params;
            uwsgi_pass {{application_name}};
    }
    # Error page
    error_page 500 502 /maintenance.html;
    location = /maintenance.html {
        root /var/www/;
    }

}
