[uwsgi]
uid             = {{project_user}}
gid             = {{project_user}}
socket          = {{virtualenv_path}}/socketfile.sock
chdir           = {{virtualenv_path}}/algo-services-api/
wsgi-file       = serviceAPI/wsgi.py
home            = {{virtualenv_path}}
processes       = 2
threads         = 1
chmod-socket    = 666
plugins         = python3
attach-daemon = %(home)/bin/celery -A serviceAPI worker 
attach-daemon = %(home)/bin/celery -A serviceAPI beat