[Unit]
Description=IDMS-MDG Worker fc_core_data_idms for Gearmand Service
After=network.target

[Service]
Type=simple
User={{project_user}}
ExecStart=/home/algos/idms-mdg/worker_fc_core_data_idms.pl fc_core_data_idms.php 10
Restart=on-abort


[Install]
WantedBy=multi-user.target