[Unit]
Description=Portfolio Healthcheck Workers for Gearmand Service
After=network.target

[Service]
Type=simple
User={{project_user}}
ExecStart=/home/cloud-user/algo-suite-api/algos/portfolio_healthcheck/worker_fc_core_portfolio_healthcheck.pl
Restart=on-abort


[Install]
WantedBy=multi-user.target