[Unit]
Description=Morningstar Worker fc_core_data_ms for Gearmand Service
After=network.target

[Service]
Type=simple
User={{ project_user }}
ExecStart=/home/cloud-user/algo-suite-api/algos/data-morningstar/worker_fc_core_data_ms.pl data_ms_breakdown.py 5
Restart=on-abort


[Install]
WantedBy=multi-user.target