
## This file name should follow this format: {{ application_name }}_env_file.j2

SECRET_KEY={{django_secret_key}}
DEBUG=on
DATABASE_URL=psql://{{db_user}}:{{db_password}}@localhost:5432/{{db_name}}
ALLOWED_HOSTS=localhost,127.0.0.1,{{inventory_hostname}},{{domain_name_webserver}}
