
[uwsgi]
uid       = {{project_user}}
gid       = www-data
socket    = {{socket_folder}}/socketfile.sock
wsgi-file = {{uwsgi_params_path}}/wsgi.py
home      = {{virtualenv_path}}
pythonpath = {{virtualenv_path}}
chdir     = {{project_path}}/
logto     = {{application_log_dir}}/uwsgi/error.log

chmod-socket = 666
enable-threads = true
master = true
processes = 2
vacuum = true
max-requests = 50
