
[program:{{ application_name }}]
user={{project_user}}
command={{virtualenv_path}}/bin/uwsgi --ini {{ application_path }}/conf/uwsgi.ini
autostart=true
autorestart=true
stderr_logfile = {{application_log_dir}}/supervisor/error.log
stdout_logfile = {{application_log_dir}}/supervisor/out.log
stopsignal=INT