[uwsgi]
uid             = {{project_user}}
gid             = {{project_user}}
socket          = {{socket_folder}}/app.sock
chdir           = {{project_path}}/core_analyse2
wsgi-file       = {{ project_path }}/core_analyse2/wsgi.py
home            = {{virtualenv_path}}
processes       = 2
threads         = 1
chmod-socket    = 666
#plugins         = python3
logto           = {{application_log_dir}}/uwsgi/app.log

touch-reload    = /tmp/uwsgi-touch-reload-core-analyse2

harakiri = 600