# -----------------------------------------------------------------------------
# General settings

PROJECT_NAME='{{application_name}}'

LOG_APP_PATH='../logs/app'

ALLOWED_HOSTS=('{{domain_name_webserver}}', '{{ inventory_hostname }}', '10.1.20.6', '127.0.0.1', 'localhost')

ROOT_URLCONF='urls'

WSGI_APPLICATION='wsgi.application'

LANGUAGE_CODE='en-us'

TIME_ZONE='UTC'

USE_I18N=True

USE_L10N=True

USE_TZ=True

DEBUG=False

SECRET_KEY='{{django_secret_key}}'

STATIC_DIR_NAME='static'
STATIC_URL='/static/'

DATE_FORMAT="%Y-%m-%d"
MORG_DATE_FORMAT='%d-%m-%Y'


# -----------------------------------------------------------------------------
# Providers csv

PROVIDERS_CSV_PATH='providers.csv'

DB_SCHEMA_ASSET_VERSION=7

MS_RATES_MYSQLDB=('he1.fincite.net', 'core_analyse2', 'Squo9tLi6Mup', 'reuters', 3306)

# -----------------------------------------------------------------------------
# TRKD

TRKD_LIMIT_SEARCH=100

# -----------------------------------------------------------------------------
# Api request parameters
ALPHA_MIN=0.0002
ALPHA_MAX=0.5

# -----------------------------------------------------------------------------
# Database settings

POSTGRESQL_URL=postgres://{{db_user}}:{{db_password}}@127.0.0.1:5432/{{db_name}}
POSTGRESQL_URL_TEST=sqlite://

# -----------------------------------------------------------------------------
# Contexts

TEST_CONTEXTS_TRKD=context_id=1001;context_name=test_TR;provider_type=TR;tr_username=ralf.heim@fincite.de;tr_password=Fincite2030;tr_application_id=RalfHeimFinciteDe;allow_parallel=1;relevant_loss_threshold=-0.05;allow_cache=False
TEST_CONTEXTS_MS=context_id=1002;context_name=test_mS;provider_type=MS;ms_ws_username=ABAB16411;ms_ws_password=K2LZE2;ms_ws_base_url=https://msbxml.tenfore.com:4443;ms_dw_username=martijn.moser@nl.abnamro.com;ms_dw_password=MoAB2017T!;ms_dw_base_url=ttps://edw.morningstar.com;allow_parallel=0;relevant_loss_threshold=-0.05;allow_cache=False


# -----------------------------------------------------------------------------
# Cache

# 1h
CACHE_EXPIRE_SECONDS=3600
# 29m
TR_TOKEN_CACHE_EXPIRE_SECONDS=1740
CACHE_LOCATION='127.0.0.1:11211'

# -----------------------------------------------------------------------------
# Core Connect

CORE_CONNECT_BASE_URL='{{core_connect_url}}'

