SECRET_KEY={{django_secret_key}}
DATABASE_URL=psql://{{db_user}}:{{ db_password }}@localhost:5432/{{db_name}}
ENVIRONMENTS={"dev":{"hosts":"josep@inka-labs.com","gunicorn_pid":"/tmp/core-interact.pid","core_dir":"/home/josep/qa/luis/core-interact/core-interact/","is_production":false,"branch":"master","is_staging":false,"token_logger":"@espeWrU*rUspes58wr3xuju"}}
ALLOWED_HOSTS=["{{ inventory_hostname }}","127.0.0.1","localhost"]
DEBUG=true
STATIC_ROOT={{ nginx_static_dir }}
MEDIA_ROOT={{ nginx_media_dir }}
SECURE_HSTS_SECONDS=3600

# For API
URL_CORE_CONNECT="{{url_core_connect}}"
TOKEN={"authorization": "{{bearer_token}}"}
TEST_QUESTIONNAIRE=true

