[uwsgi]
uid       = {{project_user}}
gid       = {{project_user}}
socket    = {{ socket_folder }}/interact.sock
wsgi-file = {{ project_path }}/serviceAPI/wsgi.py
home      = {{virtualenv_path}}
chdir     = {{project_path}}
logto     = {{application_log_dir}}/uwsgi/error.log

chmod-socket = 666
enable-threads = true
master = true
processes = 2
vacuum = true
max-requests = 50

touch-reload    = /tmp/uwsgi-touch-reload-core_interacty