
[program:{{ application_name }}]
numprocs=1
directory={{ application_path }}/
command={{virtualenv_path}}/bin/uwsgi --ini {{ application_path }}/conf/uwsgi.ini
user={{project_user}}
autostart=true
autorestart=true
redirect_stderr=true
stopwaitsecs=60
stopsignal=INT
stderr_logfile={{ application_log_dir }}/app/from_supervisor_err.log
stdout_logfile={{ application_log_dir }}/app/from_supervisor_out.log
stdout_logfile_maxbytes=100MB
stdout_logfile_backups=30
stdout_capture_maxbytes=1MB