[Unit]
Description=Autossh Tunnel
Wants=network-online.target
After=network-online.target

[Service]
User={{project_user}}
Type=simple
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3" -NL 4443:msbxml.tenfore.com:443 morningstar-connect-user@test-connect.core.fincite.net
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target